__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.env
.env.*

*.log

.pytest_cache/

.ipynb_checkpoints/

build/
dist/
*.egg-info/

.DS_Store
